@charset "UTF-8";
body:before {
  background-color: #FCF8E3;
  border-bottom: 1px solid #FBEED5;
  border-left: 1px solid #FBEED5;
  color: #C09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100; }
  @media all {
    body:before {
      content: "mobile ≥ 0px (0em)"; } }
  @media (min-width: 46.25em) {
    body:before {
      content: "tablet ≥ 740px (46.25em)"; } }
  @media (min-width: 61.25em) {
    body:before {
      content: "desktop ≥ 980px (61.25em)"; } }
  @media (min-width: 63.125em) {
    body:before {
      content: "pageWidth ≥ 1010px (63.125em)"; } }
  @media (min-width: 81.25em) {
    body:before {
      content: "wide ≥ 1300px (81.25em)"; } }

* {
  box-sizing: border-box; }

html {
  font-size: 10px;
  overflow-y: scroll; }

body {
  background-color: #fff;
  color: #3a4660; }

a, .link {
  color: #3a4660;
  cursor: pointer;
  text-decoration: none; }
  a:hover, .link:hover {
    text-decoration: underline; }
  a.unstyled:hover, .link.unstyled:hover {
    text-decoration: none; }

button.link {
  border: 0;
  outline: none; }

hr {
  border: none;
  border-bottom: 1px solid;
  margin-before: 0.5em;
  margin-after: 0.5em; }
  hr.unleaded {
    margin-before: 0;
    margin-after: 0; }
  hr.dashed {
    border-bottom: 1px dashed; }

ul.unstyled, ol.unstyled {
  padding: 0;
  margin: 0; }
  ul.unstyled li, ol.unstyled li {
    list-style-type: none; }

#OBWEB .block {
  display: block; }

#OBWEB .hide {
  display: none; }

#OBWEB .disabled {
  pointer-events: none;
  opacity: 0.4; }

.App .App-header {
  padding: 10px 20px;
  box-shadow: 0 1px 3px 0 rgba(219, 219, 219, 0.75);
  height: 62px; }
  .App .App-header nav {
    margin: 0; }
    .App .App-header nav a {
      text-decoration: none; }
      .App .App-header nav a.active {
        padding: 3px;
        border-radius: 4px;
        background-color: #107896;
        color: white; }
  .App .App-header .App-logo-wrap {
    width: 40px;
    height: 40px; }
    .App .App-header .App-logo-wrap .App-logo {
      margin-top: 0px;
      width: 40px;
      height: 40px; }
