.ctrl, .btn, .iconBtn {
  height: 35px;
  padding: 0 24px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  font-size: 1.4rem;
  font-weight: 400;
  box-sizing: border-box;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none; }

.btn, .iconBtn {
  cursor: pointer;
  font-weight: 700;
  transition: border 0.15s ease;
  text-align: center; }
  .btn:hover , .iconBtn:hover , .btn:focus , .iconBtn:focus {
    text-decoration: none;
    cursor: pointer; }
  .btn:focus:not(.btnRadio), .iconBtn:focus:not(.btnRadio) {
    outline: 0; }
  .btn.form, .form.iconBtn {
    height: 42px; }
  .btn.btnProcessing, .btnProcessing.iconBtn {
    position: relative; }
    .btn.btnProcessing .spinner, .btnProcessing.iconBtn .spinner {
      display: none; }
    .btn.btnProcessing.processing, .btnProcessing.processing.iconBtn {
      pointer-events: none; }
      .btn.btnProcessing.processing::before, .btnProcessing.processing.iconBtn::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: inherit;
        z-index: 1; }
      .btn.btnProcessing.processing .spinner, .btnProcessing.processing.iconBtn .spinner {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        right: 0;
        bottom: 0;
        background-color: inherit;
        transform: translate(-50%, -50%);
        border-radius: inherit;
        width: 25px;
        height: 25px;
        z-index: 1; }
  .btn .icon, .iconBtn .icon {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    display: inline-flex;
    align-content: center; }

.iconBtn {
  font-size: 1.8rem;
  padding: 0 12px;
  width: 35px; }
  .iconBtn.form {
    width: 40px; }
