@import 'styles/mixins.scss';
@import 'styles/variables.scss';
@import 'sass-mq/mq';

.Chat {
  position: absolute;
  width: $chatWidth;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(100%);
  padding-top: 35px;
  @include chatOpenTransition(transform);

  @include mq($until: mobileLandscape) {
    width: 100%;
  }

  .Chat-chatOpen & {
    transform: translateX(0);
  }

  .Chat-chatHeads {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    
    // devices where mouse is primary pointing device
    @media (hover: hover) and (pointer: fine) {
      // only show the chat scroll on hover
      overflow: hidden;

      &:hover {
        overflow-y: auto;
      }
    }

    .ChatHead {
      &:not(.active) {
        cursor: pointer;
      }

      .ChatHead-textContent {
        height: 35px;

        .ChatHead-name {
          max-width: 50px;
        }
      }
    }
  }

  .Chat-btnClose {
    position: absolute;
    top: 0;
    right: -1px;
    border-bottom-width: 0;
    cursor: pointer;
  }

  .Chat-chatConvoWrap {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 2500ms;

    &.open {
      transform: translateY(0);
    }

    .ChatConvo {
      height: 300px;
    }
  }
}