.CategoryBox {
  padding-left: 25px; }
  @media (max-width: 46.24em) {
    .CategoryBox {
      padding-left: 15px; } }
  .CategoryBox.CategoryBox-noResultsYet .CategoryBox-resultsWrap {
    height: 635px; }
    @media (min-width: 46.25em) and (max-width: 48.125em) {
      .CategoryBox.CategoryBox-noResultsYet .CategoryBox-resultsWrap {
        height: 930px; } }
    @media (max-width: 46.24em) {
      .CategoryBox.CategoryBox-noResultsYet .CategoryBox-resultsWrap {
        height: 255px; } }
  @media (min-width: 46.25em) {
    .CategoryBox {
      padding-right: 25px; } }
  @media (min-width: 46.25em) and (max-width: 46.24em) {
    .CategoryBox {
      padding-top: 15px;
      padding-bottom: 15px; } }
  @media (max-width: 46.24em) {
    .CategoryBox .ListingsGrid {
      display: flex;
      justify-content: flex-start;
      overflow-x: scroll;
      overflow-y: hidden;
      overflow: scroll;
      scrollbar-width: none;
      /* Firefox */
      -ms-overflow-style: none;
      /* IE 10+ */ }
      .CategoryBox .ListingsGrid::-webkit-scrollbar {
        /* WebKit */
        width: 0px;
        height: 0px; }
      .CategoryBox .ListingsGrid .ListingCard {
        margin-right: 15px; } }
