@charset "UTF-8";
body:before {
  background-color: #FCF8E3;
  border-bottom: 1px solid #FBEED5;
  border-left: 1px solid #FBEED5;
  color: #C09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100; }
<<<<<<< HEAD
  @media all {
    body:before {
      content: "mobile ≥ 0px (0em)"; } }
=======
  @media (min-width: 20em) {
    body:before {
      content: "mobile ≥ 320px (20em)"; } }
>>>>>>> initial-skeleton
  @media (min-width: 46.25em) {
    body:before {
      content: "tablet ≥ 740px (46.25em)"; } }
  @media (min-width: 61.25em) {
    body:before {
      content: "desktop ≥ 980px (61.25em)"; } }
  @media (min-width: 63.125em) {
    body:before {
      content: "pageWidth ≥ 1010px (63.125em)"; } }
  @media (min-width: 81.25em) {
    body:before {
      content: "wide ≥ 1300px (81.25em)"; } }

.CategoryBox {
  padding-left: 25px; }
  @media (max-width: 46.24em) {
    .CategoryBox {
      padding-left: 15px; } }
  .CategoryBox.CategoryBox-noResultsYet .CategoryBox-resultsWrap {
    height: 635px; }
    @media (min-width: 46.25em) and (max-width: 48.125em) {
      .CategoryBox.CategoryBox-noResultsYet .CategoryBox-resultsWrap {
        height: 930px; } }
    @media (max-width: 46.24em) {
      .CategoryBox.CategoryBox-noResultsYet .CategoryBox-resultsWrap {
        height: 255px; } }
  @media (min-width: 46.25em) {
    .CategoryBox {
      padding-right: 25px; } }
  @media (min-width: 46.25em) and (max-width: 46.24em) {
    .CategoryBox {
<<<<<<< HEAD
      padding-right: 15px; } }
=======
      padding-top: 15px;
      padding-bottom: 15px; } }
>>>>>>> initial-skeleton
  @media (max-width: 46.24em) {
    .CategoryBox .ListingsGrid {
      display: flex;
      justify-content: flex-start;
      overflow-x: scroll;
      overflow-y: hidden;
      overflow: scroll;
      scrollbar-width: none;
      /* Firefox */
      -ms-overflow-style: none;
      /* IE 10+ */ }
      .CategoryBox .ListingsGrid::-webkit-scrollbar {
        /* WebKit */
        width: 0px;
        height: 0px; }
      .CategoryBox .ListingsGrid .ListingCard {
        margin-right: 15px; } }
