.NavMenu .NavMenu-trigger:hover {
  text-decoration: none; }

.NavMenu .NavMenu-hamburgerIcon {
  position: relative;
  cursor: pointer;
  height: 1em;
  width: 2em; }
  .NavMenu .NavMenu-hamburgerIcon::after {
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    width: 2em;
    height: 0.3em;
    transform: translateY(-50%);
    cursor: pointer; }

.NavMenu .NavMenu-closeIcon {
  font-size: 1.25em;
  position: relative;
  left: -2px;
  top: 2px; }

.NavMenu-Menu {
  position: absolute;
  right: 10px;
  top: 60px;
  width: 225px; }
  @media (max-width: 46.24em) {
    .NavMenu-Menu {
      top: 62px;
      left: 0;
      width: 100%; } }
