@import './variables.scss';

* {
  box-sizing: border-box;
} 

html {
  font-size: $baseFontSize;
}

body {
  background-color: #fff;
  color: $text;
}

a {
  color: #107896;
}

#OBWEB {
  .block {
    display: block;
  }

  .hide {
    display: none;
  }
}


