@import 'styles/variables.scss';

.UserContentLoading {
  header {
    height: 80px;
  }

  h1 {
    font-size: 1.8rem;
  }

  .UserContentLoading-contentWrap {
    // minimize the size of the form jumping as we transition from loading to
    // error states
    min-height: 45px;
  }

  .UserContentLoading-socialIcons {
    margin-bottom: 55px;
    font-size: $tx3;
  }
}
