.ChatConvo {
  height: 100%;
  position: relative;
  margin-bottom: 50px;

  .ChatConvo-btnClose {
    padding: 0 5px;
    border: 0;
    background-color: transparent;
  }

  & > header {
    height: 55px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  .ChatConvo-messages {
    padding: 10px 5px;
  }

  .ChatConvo-messageInput {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }
}