@import '../styles/base.scss';
@import '../styles/mixins.scss';
@import '../styles/variables.scss';

.App {
  .App-header {
    padding: 10px 20px;
    box-shadow: 0 1px 3px 0 rgba(219, 219, 219, 0.75);
    height: $appHeaderHeight;

    nav {
      margin: 0;

      a {
        text-decoration: none;

        &.active {
          padding: 3px;
          border-radius: 4px;
          background-color: #107896;
          color: white;
        }
      }
    }

    .App-logo-wrap {
      width: 40px;
      height: 40px;

      .App-logo {
        margin-top: 0px;
        width: 40px;
        height: 40px;
      }
    }

    .App-btnSettings {
      // background-image: url('../img/icon-gear.png');
    }
  }

  .App-mainContent {
    @include chatOpenTransition(padding-right);
    width: 100%;
    height: calc(100% - #{$appHeaderHeight});
    overflow-y: scroll;
  }
}
