@import '../styles/base.scss';

.App {
  .App-header {
    padding: 10px 20px;
    box-shadow: 0 1px 3px 0 rgba(219, 219, 219, 0.75);

    nav {
      margin: 0;

      a {
        text-decoration: none;

        &.active {
          padding: 3px;
          border-radius: 4px;
          background-color: #107896;
          color: white;
        }
      }
    }

    .App-logo-wrap {
      width: 40px;
      height: 40px;

      .App-logo {
        margin-top: 0px;
        width: 40px;
        height: 40px;
      }
    }

    .App-btnSettings {
      background-image: url('../../img/icon-gear.png');
    }
  }

  .App-mainContent {
    text-align: center;
    padding: 25px;
  }
}
