* {
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  background-color: #fff;
  color: #3a4660; }

a {
  color: #107896; }

#OBWEB .block {
  display: block; }

#OBWEB .hide {
  display: none; }
