* {
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  background-color: #fff;
  color: #3a4660; }

a, .link {
  color: #3a4660;
  cursor: pointer;
  text-decoration: none; }
  a:hover, .link:hover {
    text-decoration: underline; }
  a.unstyled:hover, .link.unstyled:hover {
    text-decoration: none; }

hr {
  border: none;
  border-bottom: 1px solid;
  margin-before: 0.5em;
  margin-after: 0.5em; }
  hr.unleaded {
    margin-before: 0;
    margin-after: 0; }
  hr.dashed {
    border-bottom: 1px dashed; }

ul.unstyled, ol.unstyled {
  padding: 0;
  margin: 0; }
  ul.unstyled li, ol.unstyled li {
    list-style-type: none; }

#OBWEB .block {
  display: block; }

#OBWEB .hide {
  display: none; }

#OBWEB .disabled {
  pointer-events: none;
  opacity: 0.4; }
