.border {
  border-width: 1px;
  border-style: solid;
}

.borderBottom {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
}

.borderTop {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: inherit;
}
