.pageWidth {
  max-width: 1010px; }
  @media (min-width: 63.125em) {
    .pageWidth {
      margin: 0 auto; } }

.pagePadTopBottom, .pagePad {
  padding-top: 25px;
  padding-bottom: 25px; }
  @media (max-width: 46.24em) {
    .pagePadTopBottom, .pagePad {
      padding-top: 15px;
      padding-bottom: 15px; } }

.pagePadLeft, .pagePadLeftRight, .pagePad {
  padding-left: 25px; }
  @media (max-width: 46.24em) {
    .pagePadLeft, .pagePadLeftRight, .pagePad {
      padding-left: 15px; } }

.pagePadRight, .pagePadLeftRight, .pagePad {
  padding-top: 25px;
  padding-bottom: 25px; }
  @media (max-width: 46.24em) {
    .pagePadRight, .pagePadLeftRight, .pagePad {
      padding-top: 15px;
      padding-bottom: 15px; } }

.flex, .flexRow, .flexInline, .flexCol, .flexColWide, .flexColRows, .flexCent, .flexVCent, .flexVCentClearMarg, .flexVBot, .flexVBase, .flexHCent, .flexHRight {
  display: flex;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row; }
  .flex > *, .flexRow > *, .flexInline > *, .flexCol > *, .flexColWide > *, .flexColRows > *, .flexCent > *, .flexVCent > *, .flexVCentClearMarg > *, .flexVBot > *, .flexVBase > *, .flexHCent > *, .flexHRight > * {
    flex: 0 1 auto;
    min-width: 0; }
    .flex > * hr, .flexRow > * hr, .flexInline > * hr, .flexCol > * hr, .flexColWide > * hr, .flexColRows > * hr, .flexCent > * hr, .flexVCent > * hr, .flexVCentClearMarg > * hr, .flexVBot > * hr, .flexVBase > * hr, .flexHCent > * hr, .flexHRight > * hr {
      width: 100%; }
  .flex.reverse, .reverse.flexRow, .reverse.flexInline, .reverse.flexCol, .reverse.flexColWide, .reverse.flexColRows, .reverse.flexCent, .reverse.flexVCent, .reverse.flexVCentClearMarg, .reverse.flexVBot, .reverse.flexVBase, .reverse.flexHCent, .reverse.flexHRight {
    flex-direction: row-reverse; }
  .flex.flexFlushSides > *:first-child, .flexFlushSides.flexRow > *:first-child, .flexFlushSides.flexInline > *:first-child, .flexFlushSides.flexCol > *:first-child, .flexFlushSides.flexColWide > *:first-child, .flexFlushSides.flexColRows > *:first-child, .flexFlushSides.flexCent > *:first-child, .flexFlushSides.flexVCent > *:first-child, .flexFlushSides.flexVCentClearMarg > *:first-child, .flexFlushSides.flexVBot > *:first-child, .flexFlushSides.flexVBase > *:first-child, .flexFlushSides.flexHCent > *:first-child, .flexFlushSides.flexHRight > *:first-child {
    padding-left: 0;
    margin-left: 0; }
  .flex.flexFlushSides > *:last-child, .flexFlushSides.flexRow > *:last-child, .flexFlushSides.flexInline > *:last-child, .flexFlushSides.flexCol > *:last-child, .flexFlushSides.flexColWide > *:last-child, .flexFlushSides.flexColRows > *:last-child, .flexFlushSides.flexCent > *:last-child, .flexFlushSides.flexVCent > *:last-child, .flexFlushSides.flexVCentClearMarg > *:last-child, .flexFlushSides.flexVBot > *:last-child, .flexFlushSides.flexVBase > *:last-child, .flexFlushSides.flexHCent > *:last-child, .flexFlushSides.flexHRight > *:last-child {
    padding-right: 0;
    margin-right: 0; }

.flexRow {
  align-items: stretch; }

.flexInline {
  display: inline-flex;
  width: auto; }

.snip,
.snipKids > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.flexCol, .flexColWide, .flexColRows {
  flex-direction: column; }
  .flexCol.reverse, .reverse.flexColWide, .reverse.flexColRows {
    flex-direction: column-reverse; }
  .flexCol.flexFlushSides > *:first-child, .flexFlushSides.flexColWide > *:first-child, .flexFlushSides.flexColRows > *:first-child {
    padding-top: 0;
    margin-top: 0; }
  .flexCol.flexFlushSides > *:last-child, .flexFlushSides.flexColWide > *:last-child, .flexFlushSides.flexColRows > *:last-child {
    padding-bottom: 0;
    margin-bottom: 0; }

.flexColWide > *, .flexColRows > * {
  width: 100%;
  box-sizing: border-box; }

.flexColRows {
  justify-content: space-between;
  height: 100%; }

.flexCent {
  height: 100%;
  align-items: center;
  justify-content: center; }

.flexVCent, .flexVCentClearMarg {
  height: 100%;
  align-items: center; }
  .flexVCent input[type='checkbox'] + label, .flexVCentClearMarg input[type='checkbox'] + label {
    align-items: center; }

.flexVCentClearMarg > * {
  margin-top: 0;
  margin-bottom: 0; }

.flexVBot {
  height: 100%;
  align-items: flex-end; }

.flexVBase {
  height: 100%;
  align-items: baseline; }

.flexHCent {
  justify-content: center;
  align-items: center;
  text-align: center; }

.flexHRight {
  justify-content: flex-end;
  text-align: right; }

.simpleFlexCol {
  display: flex;
  flex-direction: column; }

.flexExpand,
.flexKidsExpand > * {
  flex-grow: 1; }

.flexNoShrink {
  flex-shrink: 0; }

.flexItemLeft {
  align-self: center; }

.flexItemCenter {
  align-self: center; }

.col, .col12, .col11, .col10, .col9, .col8, .col7, .col6, .col5, .col4, .col3, .col2, .col1 {
  box-sizing: border-box;
  position: relative;
  flex: 0 0 auto; }

.col12 {
  flex-basis: 100%;
  width: 100%; }

.col11 {
  flex-basis: 91.66666666666666%;
  width: 91.66666666666666%; }

.col10 {
  flex-basis: 83.33333333333334%;
  width: 83.33333333333334%; }

.col9 {
  flex-basis: 75%;
  width: 75%; }

.col8 {
  flex-basis: 66.66666666666666%;
  width: 66.66666666666666%; }

.col7 {
  flex-basis: 58.333333333333336%;
  width: 58.333333333333336%; }

.col6 {
  flex-basis: 50%;
  width: 50%; }

.col5 {
  flex-basis: 41.66666666666667%;
  width: 41.66666666666667%; }

.col4 {
  flex-basis: 33.33333333333333%;
  width: 33.33333333333333%; }

.col3 {
  flex-basis: 25%;
  width: 25%; }

.col2 {
  flex-basis: 16.666666666666664%;
  width: 16.666666666666664%; }

.col1 {
  flex-basis: 8.333333333333332%;
  width: 8.333333333333332%; }

.rowTn {
  margin-bottom: 2.5px; }

.rowSm {
  margin-bottom: 5px; }

.row {
  margin-bottom: 10px; }

.rowMd {
  margin-bottom: 15px; }

.rowLg {
  margin-bottom: 20px; }

.rowHg {
  margin-bottom: 25px; }

.rowGi {
  margin-bottom: 40px; }

.gutterHFlush:first-child, .gutterHTn > :first-child, .gutterHSm > :first-child, .gutterH > :first-child, .gutterHMd > :first-child, .gutterHLg > :first-child {
  margin-left: 0; }

.gutterHFlush:last-child, .gutterHTn > :last-child, .gutterHSm > :last-child, .gutterH > :last-child, .gutterHMd > :last-child, .gutterHLg > :last-child {
  margin-right: 0; }

.gutterHTn > * {
  margin-right: 2px; }
  .gutterHTn > *.col, .gutterHTn > *.col12, .gutterHTn > *.col11, .gutterHTn > *.col10, .gutterHTn > *.col9, .gutterHTn > *.col8, .gutterHTn > *.col7, .gutterHTn > *.col6, .gutterHTn > *.col5, .gutterHTn > *.col4, .gutterHTn > *.col3, .gutterHTn > *.col2, .gutterHTn > *.col1, .gutterHTn > *.col12, .gutterHTn > *.col11, .gutterHTn > *.col10, .gutterHTn > *.col9, .gutterHTn > *.col8, .gutterHTn > *.col7, .gutterHTn > *.col6, .gutterHTn > *.col5, .gutterHTn > *.col4, .gutterHTn > *.col3, .gutterHTn > *.col2, .gutterHTn > *.col1 {
    margin-right: 0;
    padding-left: 1px;
    padding-right: 1px; }
    .gutterHTn > *.col:first-child, .gutterHTn > *.col12:first-child, .gutterHTn > *.col11:first-child, .gutterHTn > *.col10:first-child, .gutterHTn > *.col9:first-child, .gutterHTn > *.col8:first-child, .gutterHTn > *.col7:first-child, .gutterHTn > *.col6:first-child, .gutterHTn > *.col5:first-child, .gutterHTn > *.col4:first-child, .gutterHTn > *.col3:first-child, .gutterHTn > *.col2:first-child, .gutterHTn > *.col1:first-child, .gutterHTn > *.col12:first-child, .gutterHTn > *.col11:first-child, .gutterHTn > *.col10:first-child, .gutterHTn > *.col9:first-child, .gutterHTn > *.col8:first-child, .gutterHTn > *.col7:first-child, .gutterHTn > *.col6:first-child, .gutterHTn > *.col5:first-child, .gutterHTn > *.col4:first-child, .gutterHTn > *.col3:first-child, .gutterHTn > *.col2:first-child, .gutterHTn > *.col1:first-child {
      padding-left: 0; }
    .gutterHTn > *.col:last-child:not(:only-child), .gutterHTn > *.col12:last-child:not(:only-child), .gutterHTn > *.col11:last-child:not(:only-child), .gutterHTn > *.col10:last-child:not(:only-child), .gutterHTn > *.col9:last-child:not(:only-child), .gutterHTn > *.col8:last-child:not(:only-child), .gutterHTn > *.col7:last-child:not(:only-child), .gutterHTn > *.col6:last-child:not(:only-child), .gutterHTn > *.col5:last-child:not(:only-child), .gutterHTn > *.col4:last-child:not(:only-child), .gutterHTn > *.col3:last-child:not(:only-child), .gutterHTn > *.col2:last-child:not(:only-child), .gutterHTn > *.col1:last-child:not(:only-child), .gutterHTn > *.col12:last-child:not(:only-child), .gutterHTn > *.col11:last-child:not(:only-child), .gutterHTn > *.col10:last-child:not(:only-child), .gutterHTn > *.col9:last-child:not(:only-child), .gutterHTn > *.col8:last-child:not(:only-child), .gutterHTn > *.col7:last-child:not(:only-child), .gutterHTn > *.col6:last-child:not(:only-child), .gutterHTn > *.col5:last-child:not(:only-child), .gutterHTn > *.col4:last-child:not(:only-child), .gutterHTn > *.col3:last-child:not(:only-child), .gutterHTn > *.col2:last-child:not(:only-child), .gutterHTn > *.col1:last-child:not(:only-child) {
      padding-right: 0; }

.gutterHSm > * {
  margin-right: 5px; }
  .gutterHSm > *.col, .gutterHSm > *.col12, .gutterHSm > *.col11, .gutterHSm > *.col10, .gutterHSm > *.col9, .gutterHSm > *.col8, .gutterHSm > *.col7, .gutterHSm > *.col6, .gutterHSm > *.col5, .gutterHSm > *.col4, .gutterHSm > *.col3, .gutterHSm > *.col2, .gutterHSm > *.col1, .gutterHSm > *.col12, .gutterHSm > *.col11, .gutterHSm > *.col10, .gutterHSm > *.col9, .gutterHSm > *.col8, .gutterHSm > *.col7, .gutterHSm > *.col6, .gutterHSm > *.col5, .gutterHSm > *.col4, .gutterHSm > *.col3, .gutterHSm > *.col2, .gutterHSm > *.col1 {
    margin-right: 0;
    padding-left: 2.5px;
    padding-right: 2.5px; }
    .gutterHSm > *.col:first-child, .gutterHSm > *.col12:first-child, .gutterHSm > *.col11:first-child, .gutterHSm > *.col10:first-child, .gutterHSm > *.col9:first-child, .gutterHSm > *.col8:first-child, .gutterHSm > *.col7:first-child, .gutterHSm > *.col6:first-child, .gutterHSm > *.col5:first-child, .gutterHSm > *.col4:first-child, .gutterHSm > *.col3:first-child, .gutterHSm > *.col2:first-child, .gutterHSm > *.col1:first-child, .gutterHSm > *.col12:first-child, .gutterHSm > *.col11:first-child, .gutterHSm > *.col10:first-child, .gutterHSm > *.col9:first-child, .gutterHSm > *.col8:first-child, .gutterHSm > *.col7:first-child, .gutterHSm > *.col6:first-child, .gutterHSm > *.col5:first-child, .gutterHSm > *.col4:first-child, .gutterHSm > *.col3:first-child, .gutterHSm > *.col2:first-child, .gutterHSm > *.col1:first-child {
      padding-left: 0; }
    .gutterHSm > *.col:last-child:not(:only-child), .gutterHSm > *.col12:last-child:not(:only-child), .gutterHSm > *.col11:last-child:not(:only-child), .gutterHSm > *.col10:last-child:not(:only-child), .gutterHSm > *.col9:last-child:not(:only-child), .gutterHSm > *.col8:last-child:not(:only-child), .gutterHSm > *.col7:last-child:not(:only-child), .gutterHSm > *.col6:last-child:not(:only-child), .gutterHSm > *.col5:last-child:not(:only-child), .gutterHSm > *.col4:last-child:not(:only-child), .gutterHSm > *.col3:last-child:not(:only-child), .gutterHSm > *.col2:last-child:not(:only-child), .gutterHSm > *.col1:last-child:not(:only-child), .gutterHSm > *.col12:last-child:not(:only-child), .gutterHSm > *.col11:last-child:not(:only-child), .gutterHSm > *.col10:last-child:not(:only-child), .gutterHSm > *.col9:last-child:not(:only-child), .gutterHSm > *.col8:last-child:not(:only-child), .gutterHSm > *.col7:last-child:not(:only-child), .gutterHSm > *.col6:last-child:not(:only-child), .gutterHSm > *.col5:last-child:not(:only-child), .gutterHSm > *.col4:last-child:not(:only-child), .gutterHSm > *.col3:last-child:not(:only-child), .gutterHSm > *.col2:last-child:not(:only-child), .gutterHSm > *.col1:last-child:not(:only-child) {
      padding-right: 0; }

.gutterH > * {
  margin-right: 10px; }
  .gutterH > *.col, .gutterH > *.col12, .gutterH > *.col11, .gutterH > *.col10, .gutterH > *.col9, .gutterH > *.col8, .gutterH > *.col7, .gutterH > *.col6, .gutterH > *.col5, .gutterH > *.col4, .gutterH > *.col3, .gutterH > *.col2, .gutterH > *.col1, .gutterH > *.col12, .gutterH > *.col11, .gutterH > *.col10, .gutterH > *.col9, .gutterH > *.col8, .gutterH > *.col7, .gutterH > *.col6, .gutterH > *.col5, .gutterH > *.col4, .gutterH > *.col3, .gutterH > *.col2, .gutterH > *.col1 {
    margin-right: 0;
    padding-left: 5px;
    padding-right: 5px; }
    .gutterH > *.col:first-child, .gutterH > *.col12:first-child, .gutterH > *.col11:first-child, .gutterH > *.col10:first-child, .gutterH > *.col9:first-child, .gutterH > *.col8:first-child, .gutterH > *.col7:first-child, .gutterH > *.col6:first-child, .gutterH > *.col5:first-child, .gutterH > *.col4:first-child, .gutterH > *.col3:first-child, .gutterH > *.col2:first-child, .gutterH > *.col1:first-child, .gutterH > *.col12:first-child, .gutterH > *.col11:first-child, .gutterH > *.col10:first-child, .gutterH > *.col9:first-child, .gutterH > *.col8:first-child, .gutterH > *.col7:first-child, .gutterH > *.col6:first-child, .gutterH > *.col5:first-child, .gutterH > *.col4:first-child, .gutterH > *.col3:first-child, .gutterH > *.col2:first-child, .gutterH > *.col1:first-child {
      padding-left: 0; }
    .gutterH > *.col:last-child:not(:only-child), .gutterH > *.col12:last-child:not(:only-child), .gutterH > *.col11:last-child:not(:only-child), .gutterH > *.col10:last-child:not(:only-child), .gutterH > *.col9:last-child:not(:only-child), .gutterH > *.col8:last-child:not(:only-child), .gutterH > *.col7:last-child:not(:only-child), .gutterH > *.col6:last-child:not(:only-child), .gutterH > *.col5:last-child:not(:only-child), .gutterH > *.col4:last-child:not(:only-child), .gutterH > *.col3:last-child:not(:only-child), .gutterH > *.col2:last-child:not(:only-child), .gutterH > *.col1:last-child:not(:only-child), .gutterH > *.col12:last-child:not(:only-child), .gutterH > *.col11:last-child:not(:only-child), .gutterH > *.col10:last-child:not(:only-child), .gutterH > *.col9:last-child:not(:only-child), .gutterH > *.col8:last-child:not(:only-child), .gutterH > *.col7:last-child:not(:only-child), .gutterH > *.col6:last-child:not(:only-child), .gutterH > *.col5:last-child:not(:only-child), .gutterH > *.col4:last-child:not(:only-child), .gutterH > *.col3:last-child:not(:only-child), .gutterH > *.col2:last-child:not(:only-child), .gutterH > *.col1:last-child:not(:only-child) {
      padding-right: 0; }

.gutterHMd > * {
  margin-right: 15px; }
  .gutterHMd > *.col, .gutterHMd > *.col12, .gutterHMd > *.col11, .gutterHMd > *.col10, .gutterHMd > *.col9, .gutterHMd > *.col8, .gutterHMd > *.col7, .gutterHMd > *.col6, .gutterHMd > *.col5, .gutterHMd > *.col4, .gutterHMd > *.col3, .gutterHMd > *.col2, .gutterHMd > *.col1, .gutterHMd > *.col12, .gutterHMd > *.col11, .gutterHMd > *.col10, .gutterHMd > *.col9, .gutterHMd > *.col8, .gutterHMd > *.col7, .gutterHMd > *.col6, .gutterHMd > *.col5, .gutterHMd > *.col4, .gutterHMd > *.col3, .gutterHMd > *.col2, .gutterHMd > *.col1 {
    margin-right: 0;
    padding-left: 7.5px;
    padding-right: 7.5px; }
    .gutterHMd > *.col:first-child, .gutterHMd > *.col12:first-child, .gutterHMd > *.col11:first-child, .gutterHMd > *.col10:first-child, .gutterHMd > *.col9:first-child, .gutterHMd > *.col8:first-child, .gutterHMd > *.col7:first-child, .gutterHMd > *.col6:first-child, .gutterHMd > *.col5:first-child, .gutterHMd > *.col4:first-child, .gutterHMd > *.col3:first-child, .gutterHMd > *.col2:first-child, .gutterHMd > *.col1:first-child, .gutterHMd > *.col12:first-child, .gutterHMd > *.col11:first-child, .gutterHMd > *.col10:first-child, .gutterHMd > *.col9:first-child, .gutterHMd > *.col8:first-child, .gutterHMd > *.col7:first-child, .gutterHMd > *.col6:first-child, .gutterHMd > *.col5:first-child, .gutterHMd > *.col4:first-child, .gutterHMd > *.col3:first-child, .gutterHMd > *.col2:first-child, .gutterHMd > *.col1:first-child {
      padding-left: 0; }
    .gutterHMd > *.col:last-child:not(:only-child), .gutterHMd > *.col12:last-child:not(:only-child), .gutterHMd > *.col11:last-child:not(:only-child), .gutterHMd > *.col10:last-child:not(:only-child), .gutterHMd > *.col9:last-child:not(:only-child), .gutterHMd > *.col8:last-child:not(:only-child), .gutterHMd > *.col7:last-child:not(:only-child), .gutterHMd > *.col6:last-child:not(:only-child), .gutterHMd > *.col5:last-child:not(:only-child), .gutterHMd > *.col4:last-child:not(:only-child), .gutterHMd > *.col3:last-child:not(:only-child), .gutterHMd > *.col2:last-child:not(:only-child), .gutterHMd > *.col1:last-child:not(:only-child), .gutterHMd > *.col12:last-child:not(:only-child), .gutterHMd > *.col11:last-child:not(:only-child), .gutterHMd > *.col10:last-child:not(:only-child), .gutterHMd > *.col9:last-child:not(:only-child), .gutterHMd > *.col8:last-child:not(:only-child), .gutterHMd > *.col7:last-child:not(:only-child), .gutterHMd > *.col6:last-child:not(:only-child), .gutterHMd > *.col5:last-child:not(:only-child), .gutterHMd > *.col4:last-child:not(:only-child), .gutterHMd > *.col3:last-child:not(:only-child), .gutterHMd > *.col2:last-child:not(:only-child), .gutterHMd > *.col1:last-child:not(:only-child) {
      padding-right: 0; }

.gutterHLg > * {
  margin-right: 20px; }
  .gutterHLg > *.col, .gutterHLg > *.col12, .gutterHLg > *.col11, .gutterHLg > *.col10, .gutterHLg > *.col9, .gutterHLg > *.col8, .gutterHLg > *.col7, .gutterHLg > *.col6, .gutterHLg > *.col5, .gutterHLg > *.col4, .gutterHLg > *.col3, .gutterHLg > *.col2, .gutterHLg > *.col1, .gutterHLg > *.col12, .gutterHLg > *.col11, .gutterHLg > *.col10, .gutterHLg > *.col9, .gutterHLg > *.col8, .gutterHLg > *.col7, .gutterHLg > *.col6, .gutterHLg > *.col5, .gutterHLg > *.col4, .gutterHLg > *.col3, .gutterHLg > *.col2, .gutterHLg > *.col1 {
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px; }
    .gutterHLg > *.col:first-child, .gutterHLg > *.col12:first-child, .gutterHLg > *.col11:first-child, .gutterHLg > *.col10:first-child, .gutterHLg > *.col9:first-child, .gutterHLg > *.col8:first-child, .gutterHLg > *.col7:first-child, .gutterHLg > *.col6:first-child, .gutterHLg > *.col5:first-child, .gutterHLg > *.col4:first-child, .gutterHLg > *.col3:first-child, .gutterHLg > *.col2:first-child, .gutterHLg > *.col1:first-child, .gutterHLg > *.col12:first-child, .gutterHLg > *.col11:first-child, .gutterHLg > *.col10:first-child, .gutterHLg > *.col9:first-child, .gutterHLg > *.col8:first-child, .gutterHLg > *.col7:first-child, .gutterHLg > *.col6:first-child, .gutterHLg > *.col5:first-child, .gutterHLg > *.col4:first-child, .gutterHLg > *.col3:first-child, .gutterHLg > *.col2:first-child, .gutterHLg > *.col1:first-child {
      padding-left: 0; }
    .gutterHLg > *.col:last-child:not(:only-child), .gutterHLg > *.col12:last-child:not(:only-child), .gutterHLg > *.col11:last-child:not(:only-child), .gutterHLg > *.col10:last-child:not(:only-child), .gutterHLg > *.col9:last-child:not(:only-child), .gutterHLg > *.col8:last-child:not(:only-child), .gutterHLg > *.col7:last-child:not(:only-child), .gutterHLg > *.col6:last-child:not(:only-child), .gutterHLg > *.col5:last-child:not(:only-child), .gutterHLg > *.col4:last-child:not(:only-child), .gutterHLg > *.col3:last-child:not(:only-child), .gutterHLg > *.col2:last-child:not(:only-child), .gutterHLg > *.col1:last-child:not(:only-child), .gutterHLg > *.col12:last-child:not(:only-child), .gutterHLg > *.col11:last-child:not(:only-child), .gutterHLg > *.col10:last-child:not(:only-child), .gutterHLg > *.col9:last-child:not(:only-child), .gutterHLg > *.col8:last-child:not(:only-child), .gutterHLg > *.col7:last-child:not(:only-child), .gutterHLg > *.col6:last-child:not(:only-child), .gutterHLg > *.col5:last-child:not(:only-child), .gutterHLg > *.col4:last-child:not(:only-child), .gutterHLg > *.col3:last-child:not(:only-child), .gutterHLg > *.col2:last-child:not(:only-child), .gutterHLg > *.col1:last-child:not(:only-child) {
      padding-right: 0; }

.padTn,
.padTnKids > * {
  padding: 2.5px; }

.padSm,
.padSmKids > * {
  padding: 5px; }

.pad,
.padKids > * {
  padding: 10px; }

.padMd,
.padMdKids > * {
  padding: 15px; }

.padMd2,
.padMd2Kids > * {
  padding: 12px; }

.padLg,
.padLgKids > * {
  padding: 20px; }

.padHg,
.padHgKids > * {
  padding: 25px; }

.padGi,
.padGiKids > * {
  padding: 40px; }

.padStack > *:not(:last-child) {
  padding-bottom: 0; }

.padStackAll > * {
  padding-bottom: 0; }
