@import 'styles/base.scss';

.App {
  .App-header {
    padding: 10px 20px;

    nav a {
      text-decoration: none;

      &.active {
        padding: 3px;
        border-radius: 4px;
        background-color: #107896;
        color: white;
      }
    }
  }

  .App-mainContent {
    text-align: center;
    padding: 25px;
  }
}
