@import '../../styles/variables.scss';

.ListingCard {
  width: 225px;
  height: 280px;

  .ListingCard-listingImage {
    width: 223px;
    height: 223px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
  }

  .ListingCard-content {
    padding: $pad;
  }
}