@import 'node_modules/sass-mq/mq';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.CategoryBox {
  @include pagePadLeft;

  @include mq($from: tablet) {
    @include pagePadRight;
  }

  @include mq($until: tablet) {
    .ListingsGrid {
      display: flex;
      justify-content: flex-start;
      overflow-x: scroll;
      overflow-y: hidden;

      @include hideScrollAllowScrolling;

      .ListingCard {
        margin-right: $listingGridGap;
        margin-bottom: $listingGridGap;
      }
    }
  }
}